In [1]:
import pandas as pd
from finance import get_df_quarterly_ori

root = 'D:/Mia/Stock/'
path = './test.xlsx'

In [2]:
df_dividend = pd.read_excel(root + 'company_info.xlsx', engine='openpyxl', dtype={'stock_id':str})
df_dividend.set_index('stock_id', inplace=True)
df_dividend = df_dividend.dropna()
df_dividend.head(2)

          公司名稱    發行股數(千股)    year  cash  stock
stock_id
1101      臺灣水泥  6323580000  2021.0  3.37    0.0
1101      臺灣水泥  6323580000  2020.0  2.50    0.5

In [9]:
df = get_df_quarterly_ori(stock_id)
df_y = df.groupby('year').sum()
df_y

c:\users\mia\appdata\local\programs\python\python37\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

科目(億),營業收入,營業成本,營業毛利,營業毛利(毛損)淨額,營業費用,營業利益,稅前淨利,所得稅費用,歸屬母公司淨利(損),每股盈餘(元)
year,,,,,,,,,,
2014,62.67,59.81,2.86,2.89,6.40,-3.25,-6.28,0.31,-6.59,-0.21
2015,171.80,171.72,0.07,0.17,24.25,-24.09,-21.74,0.31,-22.04,-0.68
2016,239.25,169.40,69.85,69.65,23.31,46.34,41.48,1.01,40.47,1.25
2017,237.44,150.97,86.47,86.48,24.27,62.20,68.35,1.27,67.08,2.07
2018,168.67,140.50,28.17,28.17,19.03,9.12,14.55,4.34,10.23,0.32
2019,163.37,144.68,18.69,18.69,17.36,1.35,7.83,0.03,7.95,0.25
2020,195.54,147.14,48.39,48.39,21.30,27.09,38.68,0.33,38.48,1.25
2021,220.69,129.05,91.62,91.62,17.01,74.61,83.15,11.74,71.41,2.36

In [10]:
df_dividend['year'] = df_dividend['year'].astype(int)
df_dividend_y = df_dividend.loc[stock_id,:].set_index('year')
df_dividend_y = df_dividend_y[['發行股數(千股)', 'cash']]
df_dividend_y

df_all = pd.concat([df_y, df_dividend_y], axis=1, join="inner")
df_all = df_all.sort_index(ascending=False)
df_all['營業收入_成長(%)'] = round((df_all['營業收入']-df_all['營業收入'].shift(periods=-1))/df_all['營業收入'].shift(periods=-1),1)

df_all['稅後淨利_成長(%)'] = round((df_all['稅後淨利']-df_all['稅後淨利'].shift(periods=-1))/df_all['稅後淨利'].shift(periods=-1),1)

df_all['每股盈餘_成長(%)'] = round((df_all['每股盈餘(元)']-df_all['每股盈餘(元)'].shift(periods=-1))/df_all['每股盈餘(元)'].shift(periods=-1),1)

df_all['毛利率_成長(%)'] = round((df_all['毛利率(%)']-df_all['毛利率(%)'].shift(periods=-1))/df_all['毛利率(%)'].shift(periods=-1),1)

df_all['現金股利_成長(%)'] = round((df_all['cash']-df_all['cash'].shift(periods=-1))/df_all['cash'].shift(periods=-1),1)

df_all.head(2)

KeyError: '稅後淨利'

In [90]:
df_5 = df_all[1:5]
len(df_5[ (df_5['營業收入_成長(%)']<-0.1) | (df_5['稅後淨利_成長(%)']<-0.1) | (df_5['每股盈餘_成長(%)']<-0.1)\
          | (df_5['毛利率_成長(%)']<-0.1) | (df_5['現金股利_成長(%)']<-0.1)])>0

True

In [11]:
df_all

,營業收入,營業成本,營業毛利,營業毛利(毛損)淨額,營業費用,營業利益,稅前淨利,所得稅費用,歸屬母公司淨利(損),每股盈餘(元),發行股數(千股),cash,營業收入_成長(%)
year,,,,,,,,,,,,,
2021,220.69,129.05,91.62,91.62,17.01,74.61,83.15,11.74,71.41,2.36,3027186000,0.5,0.1
2020,195.54,147.14,48.39,48.39,21.30,27.09,38.68,0.33,38.48,1.25,3027186000,0.0,0.2
2019,163.37,144.68,18.69,18.69,17.36,1.35,7.83,0.03,7.95,0.25,3027186000,0.3,-0.0
2018,168.67,140.50,28.17,28.17,19.03,9.12,14.55,4.34,10.23,0.32,3027186000,0.5,-0.3
2017,237.44,150.97,86.47,86.48,24.27,62.20,68.35,1.27,67.08,2.07,3027186000,0.5,-0.0
2016,239.25,169.40,69.85,69.65,23.31,46.34,41.48,1.01,40.47,1.25,3027186000,0.0,0.4
2015,171.80,171.72,0.07,0.17,24.25,-24.09,-21.74,0.31,-22.04,-0.68,3027186000,0.0,NaN

In [43]:
import numpy as np
bow1 = 1
bow2 = 2
print(bow1, bow2)
v1, v2 = map(lambda x: x, [bow1, bow2])
a = (*(map(lambda x: x, [bow1, bow2])),)
# print(a)
# print(v1, v2)
np.dot(*tuple((1,2)))
# print(*(1,2))

1 2

2

In [45]:
type((1,))

tuple

In [48]:
type([1,]), len([1,])

(list, 1)

In [49]:
a = (1,)
a = (2,)
print(a)

(2,)

In [52]:
a = 10
a[0]

TypeError: 'int' object is not subscriptable

In [54]:
a = '10'
a[0] = '2'
a

TypeError: 'str' object does not support item assignment

In [55]:
a = (1,2)
a[0] = 2
a

TypeError: 'tuple' object does not support item assignment

In [62]:
a = (1,2, 3)
b = (3,4)
tuple(set(a)^set(b))

(1, 2, 4)