In [253]:
from glob import glob
from tqdm import tqdm
import pandas as pd
import numpy as np
import warnings
from datetime import datetime

this_year = str(datetime.now().year)
this_ym = datetime.now().strftime('%Y%m')
this_ym = '202209'
print(this_ym)
folder = f"../fugle/{this_ym}/"
lst_file = glob(f"{folder}/交易明細*")
print(len(lst_file),'筆', lst_file[0])

202209
17 筆 ../fugle/202209\交易明細20220901.xlsx

In [254]:
df_asset = pd.read_excel(f'{folder}/asset_{this_ym}.xlsx', dtype={'stock_id':str})
df_asset.columns = ['trade_type', 'month', 'stock_id', 'name', 'shares', 'unit_price', 'trade_price', 'fee', 'tax', 'total_price', 'cost_unit']
df_asset['month'] = this_ym.replace(this_year, this_year+'-')
df_asset['unit_price'] = np.abs(df_asset['unit_price'])
df_asset['trade_price'] = np.abs(df_asset['trade_price'])
df_asset.to_excel(f'{folder}/asset_{this_ym}.xlsx', index=False)
df_asset.head(2)

,trade_type,month,stock_id,name,shares,unit_price,trade_price,fee,tax,total_price,cost_unit
0,現買,2022-09,0056,元大高股息,3,28.82,86.46,287,0,200.54,28.82
1,現買,2022-09,00881,國泰台灣5G+,22001,14.18,311974.18,524,0,-311450.18,14.18

In [255]:
# 本月買賣的股票
df_all = pd.DataFrame(columns=['交易別', '代碼', '商品名稱', '成交股數', '成交單價', '成交價金', '手續費', '交易稅', '融資自備款', '融資金額', '融券擔保品', '融券保證金', '融券費', '淨收付', '交易日期'])
for file in tqdm(lst_file):
    with warnings.catch_warnings(record=True):
        warnings.simplefilter("always")
        df = pd.read_excel(file, engine='openpyxl', dtype={'代碼':str})
        df_all = pd.concat([df_all, df])
                
from datetime import datetime
df_all['交易日期'] = df_all['交易日期'].apply(lambda x : datetime.strptime(str(x), "%Y%m%d").date())
df_all.drop(['融資自備款','融資金額','融券擔保品','融券保證金', '融券費'], axis=1, inplace=True)
df_all.columns = ['trade_type', 'stock_id', 'name', 'shares', 'unit_price', 'trade_price', 'fee', 'tax', 'total_price', 'trade_date']
df_all['month'] = df_all['trade_date'].apply(lambda x: str(x)[:7])
df_all.head(2)

100%|██████████████████████████████████████████████████████████████████████████████████| 17/17 [00:00<00:00, 64.27it/s]

,trade_type,stock_id,name,shares,unit_price,trade_price,fee,tax,total_price,trade_date,month
0,現賣,00881,國泰台灣5G+,999,14.18,14164,20,14,14130,2022-09-01,2022-09
1,現賣,00881,國泰台灣5G+,999,14.18,14163,20,14,14129,2022-09-01,2022-09

In [256]:
# 上個月留下的庫存股數 + 本月買賣的股票
df_profit = pd.concat([df_asset, df_all]).copy()
df_profit.head(1)

,trade_type,month,stock_id,name,shares,unit_price,trade_price,fee,tax,total_price,cost_unit,trade_date
0,現買,2022-09,0056,元大高股息,3,28.82,86.46,287,0,200.54,28.82,NaN

In [257]:
# 每支個股的總買入 & 總賣出 
df_gp = df_profit.drop(columns=['trade_date','cost_unit']).groupby(['trade_type', 'month', 'stock_id', 'name']).sum().reset_index().copy()
df_gp['unit_price'] = round(df_gp['trade_price']/df_gp['shares'], 2)
df_gp.sort_values(['stock_id', 'trade_type'], inplace=True)

# 取得單位每股平均買入價錢
dic_cost_unit = df_gp[df_gp['trade_type']=='現買'].set_index('stock_id')['unit_price'].to_dict()
dic_sold_share = df_gp[df_gp['trade_type']=='現賣'].set_index('stock_id')['shares'].to_dict()

df_gp['shares'] = df_gp.apply(lambda row: row['shares']*(-1) if row['trade_type']=='現賣' else row['shares'], axis=1)
df_gp['trade_price'] = df_gp.apply(lambda row: row['trade_price']*(-1) if row['trade_type']=='現買' else row['trade_price'], axis=1)
df_gp['unit_price'] = round(df_gp['trade_price']/df_gp['shares'], 2)
df_gp['cost_unit'] = df_gp['stock_id'].apply(lambda x:dic_cost_unit[x])
df_gp.to_excel(f'{folder}/stock_trade_monthly.xlsx', index=False)
df_gp.head(2)

,trade_type,month,stock_id,name,shares,unit_price,trade_price,fee,tax,total_price,cost_unit
0,現買,2022-09,0056,元大高股息,3,-28.82,-86.46,287,0,200.54,28.82
1,現買,2022-09,00881,國泰台灣5G+,22001,-14.18,-311974.18,524,0,-311450.18,14.18

In [258]:
## 本月賣出的股票  損益
df_sold = df_gp[df_gp['trade_type']=='現賣'].copy()
df_sold['cost_total'] = df_sold['cost_unit'] * df_sold['shares']
df_sold['profit'] = (df_sold['total_price'] + df_sold['cost_total'])
df_sold['profit_pct'] = round((df_sold['total_price'] + df_sold['cost_total']) / np.abs(df_sold['cost_total']) * 100, 2)

sold_sum = np.sum(df_sold['total_price'])
cost_sum = np.sum(df_sold['cost_total'])
profit_sum = sold_sum + cost_sum
profit_sum_pct = round(profit_sum / np.abs(cost_sum) * 100, 1)
df_sold_sum = pd.DataFrame([{'profit':profit_sum, 'profit_pct':profit_sum_pct}])

df_sold = pd.concat([df_sold, df_sold_sum])
df_sold.to_excel(f'{folder}/profit.xlsx', index=False)
df_sold.head(1)

,trade_type,month,stock_id,name,shares,unit_price,trade_price,fee,tax,total_price,cost_unit,cost_total,profit,profit_pct
18,現賣,2022-09,00881,國泰台灣5G+,-22001.0,-14.1,310162.0,440.0,308.0,309414.0,14.18,-311974.18,-2560.18,-0.82

In [259]:
## 本月所有買入 - 賣掉的股數 = 剩餘股數
df_remain = df_gp[df_gp['trade_type']=='現買'].copy()
df_remain['shares'] = df_remain.apply(lambda row: row['shares']-dic_sold_share.get(row['stock_id'], 0), axis=1)
df_remain = df_remain[df_remain['shares']>0]

## 重新計算剩餘股票的總成本
df_remain['trade_price'] = df_remain['unit_price'] * df_remain['shares']
df_remain['total_price'] = df_remain['trade_price'] + df_remain['fee']
df_remain.to_excel(f'{folder}/remain.xlsx', index=False)
df_remain.head(1)

,trade_type,month,stock_id,name,shares,unit_price,trade_price,fee,tax,total_price,cost_unit
0,現買,2022-09,0056,元大高股息,3,-28.82,-86.46,287,0,200.54,28.82